		body {
			background-color: darkred;
			margin: 0px;
		}

		h1 {
			font-size: 65px;
			color: white;
			text-shadow: 2px 2px 3px black;
			text-align: center;
			line-height: 225px;
		}

		#container {
			width: 950px;
			margin: 0 auto;
		}

		#header {
			background-image: url("southpark.jpg");
			height: 500px;
			background-size: cover;
			background-position: center;
		}

		.content {
			width: 664px;
			margin: 0px auto;
			background-color: white;
			padding: 25px;
		}

		.footer {
			height: 50px;
			background-color: grey;
			color: white;
			text-align: center;
			background-size: cover;
			line-height: 50px;
			margin: 0px;
		}


		.nomargin {
			margin: 0px;
		}

		#nav {
		width: 950px;
		margin: 0 auto;
		font-size: 0px;
		}

		.navleft {
			margin: 0px 0px 0px 245px;
			display: inline-block;
		}

		.navright {
			margin: 0px 245px 0px 0px;
			display: inline-block;
		}


		#nav a {
			width: 230px;
			height: 50px;
			display: inline-block;
			text-align: center;
			color: white;
			text-decoration: none;
			font-size: 20px;
			line-height: 50px;
		}

		#nav-wrapper {
			background-color: #666666;
		}

		#nav a:hover {
			background-color: #23cac6;
			color: white;
		}

		#nav a.active {
			background-color: #afe4e3;
			color: black;
		}